/inverse_matrix_search/.pytest_cache/
/approximation_methods/.pytest_cache/
/draw/.pytest_cache/
/gauss_jordan_method/.pytest_cache/
/interpolation_methods/.pytest_cache/
/maclaurin/.pytest_cache/
/matrix/.pytest_cache/
/vector/.pytest_cache/
